<div class="container flex-fill my-4 d-flex flex-column">
  <h1 class="custom-title custom-title-xl d-inline-block mx-auto" data-text="Log in">
    Log in
  </h1>
  <div class="flex-fill d-flex flex-column align-items-center justify-content-center">
    <%= simple_form_for resource,
                        as: resource_name,
                        url: session_path(resource_name),
                        html: {
                          class: "custom-form"
                        },
                        data: {
                          turbo: :false
                        } do |f| %>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  placeholder: "email",
                  label: false,
                  input_html: {
                    autocomplete: "email",
                    class: "input"
                  } %>
      <%= f.input :password,
                  required: false,
                  placeholder: "password",
                  label: false,
                  input_html: {
                    autocomplete: "current-password",
                    class: "input"
                  } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Log in", class: "button-confirm" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>

