<!DOCTYPE html>
<html>
  <head>
    <title>PwaNotifications</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'head/pwa' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100"
        data-controller="serviceworker"
        data-serviceworker-vapid-public-key-value="<%= Base64.urlsafe_decode64(ENV['VAPID_PUBLIC_KEY']).bytes %>">
    <%= yield %>
  </body>
</html>
